@import "../variables.less";

form {
  display: flex;
  flex-direction: column;
  width: 800px;

  input, textarea {
    margin-bottom: 20px;
  }

  textarea {
    resize: vertical;
    min-height: 40px;
  }

  a {
    color: white;
    font-weight: bold;
  }

}

#save {
  background-color: green;
}

#delete {
  margin-top: 20px;
  width: 100%;
  background-color: red;
}
