
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        block style
            link(rel='stylesheet/less', href='/static/css/stylesheet.less')
        title BLOG123
    body
        block body

    block script
        script(src="/static/js/external/jquery.js")
        script(src="/static/js/external/less.js")
