append style
    link(rel="stylesheet", href="/static/css/admin/fragments/navigation.css")

div.navigation-wrapper.text-big
    a(href="/admin/panel") Panel
    a(href="/admin/create") Create
    a(href="/admin/manage") Manage
    a(href="/admin/logout") Logout
