@import "variables.less";

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: @bg-body;
}

* {
    font-family: @font-primary;
}

.content {
    background-color: @bg-primary;
    max-width: @max-width;
    height: max-content;
    width: 100%;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.border {
    border: 2px solid @bg-contrast;
}