@import "variables.less";

body {
    display: flex;
    flex-direction: column;
    background-color: @bg-body;

    align-items: center;

    width: 100vw;
    height: 100vh;
}

* {
    font-family: @font-primary;
}

.content {
    background-color: @bg-primary;
    max-width: @max-width;
    display: flex;
    box-sizing: border-box;
    flex-grow: 1;

    overflow-y: auto;
    overflow-x: hidden;
}

.border {
    border: 2px solid @bg-contrast;
}