@link-color:        #428bca; // sea blue
@link-color-hover:  darken(@link-color, 10%);

@bg-primary: #232530;
@bg-accent: #1A1C23; // slight difference to primary
@bg-contrast: #FFFFFF; // strong difference to primary

@bg-body: @bg-primary;

@color-primary: @bg-contrast;
@color-contrast: @bg-primary;

@font-primary: Boston;

@border-radius-normal: 10px;

@box-shadow-normal: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);

@max-width: 1200px;
