@link-color:        #428bca; // sea blue
@link-color-hover:  darken(@link-color, 10%);

@bg-primary: #FFFFFF;
@bg-accent: #1E2129; // slight difference to primary
@bg-contrast: #292C39; // strong difference to primary

@bg-body: @bg-primary;

@color-primary: @bg-contrast;
@color-contrast: @bg-primary;
@color-accent: @bg-primary;

@font-primary: "SF UI Text";

@border-radius-normal: 2px;

@box-shadow-normal: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);

@max-width: 1200px;
