@import "../variables";
.content {
    align-items: center;
    max-width: 1000px;
    width: 90vw;
}

.projects {
    height: max-content;

    flex-wrap: wrap;

    justify-content: space-evenly;
    align-items: flex-start;
    gap: 10px;
    padding-top: 50px;

    margin-bottom: 50px;

    padding-bottom: 50px;
}

#name {
    font-weight: 800;
    color: @color-primary;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: @border-radius-normal;
}


@media (max-width: 800px) {

    .content {
        padding: 20px;
        padding-top: 0;
    }

    #name {
        margin-bottom: 0;
    }

    .project-topics {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;
        flex-wrap: wrap;
        flex-shrink: 0;
    }

    .project-topics a {
        padding: 10px 10px;
    }

    .projects {
        justify-content: center;
        gap: 30px;
    }
}
