@import "../variables";

.content {
  padding: 20px;
  align-items: center;
  width: 100%;
  max-width: 50vw;
}

#description {
  width: 100%;
  line-height: 2;
  max-width: @max-width;
  color: @color-primary;

  p {
    margin-bottom: 20px;
  }

  a:link, a:visited {
    color: @bg-highlight;
  }


  img {
    max-width: 100%;
    border-radius: @border-radius-normal;
    margin: 10px 0;
  }

  code, pre {
    background-color: #202020;
    font-family: 'Roboto Mono', sans-serif;
    padding: 2px;
    border-radius: @border-radius-normal;
    overflow-x: auto;
    outline: none;
  }

  pre {
    padding: 10px;
    border-bottom: 2px dashed white;
    border-top: 2px dashed white;
    outline: none;
  }

  blockquote {
    page-break-inside: avoid;
    border-left: 2px solid lightgray;
    color: lightgray;
    padding-left: 15px;
    margin-left: 5px;
  }

  hr {
    margin: 10px 0;
    background-color: @color-primary;
  }
}



#name {
  font-size: 33px;
  font-weight: bold;
  background-color: @bg-contrast;
  color: @color-contrast;
  width: max-content;
  padding: 10px;
  border-radius: @border-radius-normal;
}

@media (max-width: 1000px) {

  .content {
    max-width: 100vw;
    padding: 20px;
    padding-top: 0;
    width: 100%;
  }

}