@import "../variables";
.content {
    align-items: center;
    padding: 0 50px;
}

.projects {
    // TODO background-color: #FFD9FF; // FFA0AA oder FFD9FF
    max-width: @max-width;
    width: 100%;

    height: max-content;

    flex-wrap: wrap;

    justify-content: space-between;
    align-items: flex-start;

    margin-bottom: 50px;

    padding-bottom: 50px;
}

#name {
    font-weight: 800;
    color: @color-primary;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: @border-radius-normal;
}

.project-topics {

    max-width: @max-width;

    display: flex;
    flex-direction: row;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    flex-wrap: wrap;

    padding-top: 10px;

    a {
        border: 3px solid @bg-contrast;
        color: @color-primary;
        height: min-content;
        padding: 10px 20px;
        transition: 0.1s;
    }

    a:hover, .selected {
        background-color: @bg-contrast;
        color: @color-highlight;
    }

    .selected {
        transform: rotate(2deg);
    }

    a:hover {
        transform: rotate(-2deg);
    }
}

@media (max-width: 800px) {

    .content {
        padding: 20px;
        padding-top: 0;
    }

    #name {
        margin-bottom: 0;
    }

    .project-topics {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 10px;
        flex-wrap: wrap;
        flex-shrink: 0;
    }

    .project-topics a {
        padding: 10px 10px;
    }

    .projects {
        justify-content: center;
    }
}