@import "../variables";
.content {
    align-items: center;
    padding: 0 50px;
}

.projects {
    // TODO background-color: #FFD9FF; // FFA0AA oder FFD9FF
    max-width: @max-width;

    height: max-content;

    flex-wrap: wrap;

    justify-content: space-between;
    align-items: flex-start;

    margin-bottom: 50px;

    overflow-y: auto;
}

#name {
    font-weight: 800;
    color: @color-primary;
    margin-bottom: 30px;
    font-size: 40px;
    padding: 10px;
    border-radius: @border-radius-normal;
}

.project-topics {

    .selected {
        background-color: @bg-highlight;
    }

    max-width: @max-width;

    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    padding-bottom: 20px;
    flex-wrap: wrap;

    max-height: 120px;
    min-height: 120px;
    overflow-y: auto;

    margin-bottom: 20px;

    a {
        background-color: @bg-contrast;
        color: @color-accent;
        border-radius: @border-radius-normal;
        height: min-content;
        padding: 5px 10px;
    }

    a:hover {
        background-color: @bg-highlight;
        color: @color-highlight;
    }
}

@media (max-width: 800px) {
    .project-topics a {
        font-size: 16px;
    }
}