extends fragments/structure

append var
    - website_title = "Contact"

append style
    link(rel="stylesheet", href="/static/css/home/pages/contact.css")


append content
    a Email me:
    a(href="mailto:" + email)=email
