extends fragments/structure

append style 
    link(rel="stylesheet/less", href="/static/css/home/pages/index.less")


append content 
    div.hero.flex-full-center.flex-column.gap-40px
        a.text-big.hero-header hi. its me. bats.
        a.text-big.hero-link.hero-hover(href="/work") check out my work
        a.text-big.link(href="/contact") or contact me?