extends fragments/structure

append style 
    link(rel="stylesheet", href="/static/css/home/pages/index.css")


append content 
    div.hero
        a HELLO THERE
        a#name I AM BATS
        a A PROFESSIONAL FULL STACK DEVELOPER
        div.buttons
            a.hero-hover HIRE ME
            a(href="/work").hero-hover CHECK OUT MY WORK
        path(fill="none" stroke="#FFFFFF" stroke-miterlimit="50" stroke-width="2" d="M2.114 541.705v0l-.56 22.258v0l22.258-.561v0l-.56 22.259v0l22.258-.56v0l-.56 22.258v0l22.258-.56v0l-.559 22.26v0l22.26-.56v0")
    div.img
        img(src="/static/resources/socials/me.png")