extends fragments/structure

append style
    // TODO roboto mono download
    link(href='https://fonts.googleapis.com/css?family=Roboto Mono' rel='stylesheet')
    link(rel="stylesheet", href="/static/css/home/pages/project.css")
    link(rel="stylesheet", href="/static/css/external/hljs/monokai-sublime.css")

append script
    script(src="/static/js/external/hljs/highlight.min.js")
    script(src="/static/js/home/project.js")

append content
    div#info
    div#description
        h1=project.name
        if project.startDate
            a= "Project Timeline: " + (project.startDate) + " - " + (project.endDate ? project.endDate : "Present")
        if project.source
            a(href="project.source" target="_blank") Source Code
        if project.preview
            a(href=project.preview target="_blank") Release
        != markdown
