extends fragments/structure

append style
    // TODO roboto mono download
    link(href='https://fonts.googleapis.com/css?family=Roboto Mono' rel='stylesheet')
    link(rel="stylesheet", href="/static/css/home/pages/project.css")

append script
    script(src="/static/js/home/project.js")

append content
    a#name=project.name
    div#description
        != markdown
