extends fragments/structure

append style 
    link(rel="stylesheet/less", href="/static/css/home/pages/work.less")
    link(rel="stylesheet/less", href="/static/css/home/elements/card_project.less")

append content
    div.projects.flex-row.gap-40px
        each project in projects 
            include elements/card_project.pug