append style 
    link(rel="stylesheet", href="/static/css/home/fragments/navigation.css")

div.navigation-wrapper.text-big
    div.navigation-bar
        div.navigation-items
            a#navigation-burger ☰
            a.hero-hover(href="/") HOME
            a.hero-hover(href="/about") ABOUT ME
            a.hero-hover(href="/projects") PROJECTS
            a.hero-hover(href="/contact") CONTACT
    div.seperator

