append style 
    link(rel="stylesheet", href="/static/css/home/fragments/navigation.css")

div.navigation-wrapper.text-big 
    div.navigation-bar
        a logo
        div.navigation-items
            a#navigation-burger ☰
            a.hero-hover(href="/") home
            a.hero-hover(href="/work") work
            a.hero-hover(href="/about") about
            a.hero-hover(href="/contact") contact
