extends ../../fragments/structure

append style 
    link(rel="stylesheet", href="/static/css/home/home.css")

append body 
    include navigation.pug
    div.content
        block content

append script
    script(src="/static/js/home/fragments/navigation.js")

