extends fragments/structure

append style
    link(rel="stylesheet", href="/static/css/admin/pages/project.css")

append content
    form#form(action="/admin/create" method="POST" enctype="multipart/form-data")
        h1 Create new Project
        div.flex-row.gap-20px
            div.flex-column.flex-grow
                a name
                input(type="text", minlength=1, name="name")
            div.flex-column
                a start
                input(type="date", name="startDate")
            div.flex-column
                a end
                input(type="date", name="endDate")
        a topics
        input(type="text", name="topics")
        a categories
        input(type="text", name="categories")
        a description
        textarea(name="description")
        a source
        input(type="text", name="source")
        a preview
        input(type="text", name="preview")
        div.flex-row.gap-10px
            a isPublished
            input(type="checkbox", name="published")
        a banner
        input(type="file", id="banner", name="banner")
        label#file-name.fake-input(for="banner") 📁 Upload Banner
        input#save(type="submit", value="Submit")
    //input#delete(type="button", value="Delete")
