extends fragments/structure

append content
    form(action="/admin/authenticate", method="post")
        input(type="text")
        input(type="submit")

append script
    script(src="/static/js/home/fragments/authenticate.js")