extends fragments/structure

append style
    link(rel="stylesheet", href="/static/css/admin/elements/card_project.css")
    link(rel="stylesheet", href="/static/css/admin/pages/manage.css")

append content
    table
        tr
            th.no-mobile Banner
            th Project Name
            th.no-mobile Visibility
            th.no-mobile Start Date
            th.no-mobile End Date
            th Options
        each project in projects
            include elements/card_project.pug
