@import "../variables.less";

/*
@keyframes wiggle {
    0% { transform: rotate(var(--start-angle, 0deg)); }
    30% { transform: rotate(calc(var(--start-angle, 0deg) + 15deg)); }
    60% { transform: rotate(calc(var(--start-angle, 0deg) - 8deg)); }
    100% { transform: rotate(var(--start-angle, 0deg)); }
}
*/

.card-project-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;

    //border: 3px solid @bg-contrast;
    overflow: hidden;
    gap: 20px;
    //border-bottom: 3px solid @bg-contrast;
    padding: 10px 30px;
    padding-top: 13px;
    text-decoration: none;
    flex-grow: 1;
    flex-shrink: 0;
    min-width: 100%;
    overflow: clip;
}

.card-project-wrapper:hover {
    & .arrow-right {
        animation: wiggle 0.4s ease-out;
        border-color: @bg-highlight;
    }

    .img {
        filter: grayscale(0) contrast(1);
    }
}

.arrow-right {
    width: 20px;
    height: 20px;
    border-right: 5px solid;
    border-bottom: 5px solid;
    --start-angle: -45deg;
    transform: rotate(var(--start-angle));
    border-color: @bg-contrast;
}

.img {
    //filter: brightness(0.6) contrast(1.2) sepia(1) hue-rotate(220deg) saturate(0.5);
    filter: grayscale(1) contrast(1.2);
    height: 80px;
    width: 120px;
    flex-shrink: 0;
    background-color: @color-primary;
    border-radius: @border-radius-normal;
}

.info {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    text-decoration: none;
    box-sizing: border-box;
    overflow: hidden;
    height: 80px;

    color: @color-accent;

    .title {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        gap: 10px;
    }

    .name {
        font-weight: bold;
        flex-shrink: 0;
        line-break: auto;
    }

}

.topics {
    transition: 0.1s;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 10px;
    width: 100%;

    flex-grow: 0;
    padding-bottom: 10px;

    overflow-y: clip;

    p {
        background-color: @bg-element;
        color: @color-primary;
        height: min-content;
        padding: 5px 10px;
        border-radius: @border-radius-normal;
        scroll-snap-align: start;

        font-weight: bold;
    }

    .category {
        background-color: @bg-highlight;
        color: @color-highlight;
    }
}

@media (max-width: 800px) {

    .info {
        flex-direction: column;
        justify-content: space-between;
        overflow: visible;
        flex-grow: 0;
        flex-shrink: 0;
    }

    .card-project-wrapper {
        border-bottom: none;
        height: 140px;
        align-items: flex-start;
        position: relative;
        border: none;
        border-radius: 0;
        padding: 10px;
    }

    .topics {
        position: absolute;
        left: 10px;
        top: 100px;
        width: 87vw;
        overflow-y: auto;
        max-width: 95%;

        p {
            font-size: 14px;
        }
    }

    .info .title {
        flex-direction: column;
        justify-content: flex-start;
        p {
            font-size: 16px;
        }
    }

    .arrow-right {
        display: none;
    }
}
