@import "../variables.less";

@border-radius-project-element: @border-radius-normal;

.card-project-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 1000px;
    width: 90vw;

    //border: 3px solid @bg-contrast;
    overflow: hidden;
    gap: 20px;
    border-radius: @border-radius-project-element;
    //border-bottom: 3px solid @bg-contrast;
    padding: 10px 30px;
    padding-top: 13px;
    text-decoration: none;

    overflow: clip;
}

.img {
    //filter: brightness(0.6) contrast(1.2) sepia(1) hue-rotate(220deg) saturate(0.5);
    filter: grayscale(1) contrast(1.2);
    transition: 0.1s;
    height: 80px;
    width: 120px;
    flex-shrink: 0;
    background-color: @color-primary;
    border-radius: @border-radius-project-element;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    text-decoration: none;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    height: 80px;

    color: @color-accent;

    .title {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        gap: 10px;
    }

    .name {
        font-weight: bold;
        flex-shrink: 0;
        line-break: auto;
    }

}

.topics {
    transition: 0.1s;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 10px;
    width: 100%;

    flex-grow: 0;
    padding-bottom: 10px;

    overflow-y: auto;

    p {
        background-color: @bg-accent;
        color: @color-primary;
        height: min-content;
        padding: 5px 10px;
        border-radius: @border-radius-normal;
        scroll-snap-align: start;

        font-weight: bold;
    }

    .category {
        background-color: @bg-highlight;
        color: @color-highlight;
    }
}

@media (min-width: 900px) {
    .card-project-wrapper:hover {
        background-color: fade(@bg-contrast, 80%);
        box-shadow: @box-shadow-normal;

        p { color: @color-contrast; }
        .topics p { color: @color-primary; }
        .topics .category { color: @color-contrast; }
        .img {
            filter: grayscale(0) contrast(1);
        }
    }
}

@media (max-width: 600px) {

    .info {
        flex-direction: column;
        justify-content: space-between;
        overflow: visible;
    }

    .card-project-wrapper {
        overflow: visible;
        border-bottom: none;
        height: 140px;
        align-items: flex-start;
    }

    .topics {
        position: absolute;
        left: -140px;
        top: 90px;
        width: 87vw;

        p {
            font-size: 14px;
        }
    }

    .info .title {
        flex-direction: column;
        justify-content: flex-start;
        p {
            font-size: 16px;
        }
    }

    .card-project-wrapper {
        padding: 5px 5px;
    }

}
