@import "../variables.less";

.card-project-wrapper {

    width: 350px;
    height: 370px;

    background-color: @bg-accent;
    box-shadow: @box-shadow-normal;
    border-radius: @border-radius-normal;

    padding: 20px;

    text-decoration: none;
    color: @color-primary;

    .img {
        height: 55%;
        width: 100%;
        background-color: @color-primary;

        outline: solid 2px @color-primary;
        border-radius: @border-radius-normal;
    }

    .info {
        height: 45%;
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        box-sizing: border-box;
        padding: 10px 0px;
    }

    .name {
        font-weight: bold;
        flex-shrink: 0;
        padding-bottom: 5px;
    }

    .topics {
        display: flex;
        flex-direction: row;
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;
        flex-grow: 1;
        padding-top: 8px;
        line-height: 1.1;
        height: 3em;

        p {
            background-color: @bg-contrast;
            color: @color-contrast;
            height: min-content;
            padding: 5px;
            border-radius: @border-radius-normal;
        }
    }
}
